.form {
    width: 100%;
    max-width: 620px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    @media (max-width: 768px) {
        min-width: 100%;

    }

    &__container {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
    }

    &__title {
        font-weight: $BoldWeight;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.4px;
        color: $BGColor;
    }

    &__input {
        background: #FFFFFF;
        padding: 32px 16px;
        font-weight: 300;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.4px;
        color: $InputColor!important;
        width: 100%;

        &-webkit-autofill {
            -webkit-text-fill-color: $InputColor !important;
        }

        &::placeholder {
            color: $InputColor;
        }

        &.error {
            border: 1px solid $ErrorColor;
        }

        @media (max-width: 768px) {
            padding: 16px;
        }

        &:disabled {
            opacity: 0.5;
        }
    }

    &__submit {
        background: $ActiveFormColor;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 28px;
        cursor: pointer;

        &:hover {
            background: darken($ActiveFormColor, 10);
        }

        @media (max-width: 768px) {
            padding: 14px 12px;
        }

        &:disabled {
            opacity: 0.5;
        }
    }

    &__error {
        position: absolute;
        font-weight: $NormalWeight;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -0.3px;
        color: $ErrorColor;
        top: calc(100% + 8px);
        display: none;

        &.visible {
            display: block;
        }
    }

    &__error-icon {
        position: absolute;
        right: 16px;
        display: none;

        &.visible {
            display: block;
        }
    }

    &__label {
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
    }
}