@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400&display=swap');

// Шрифты

$MyFont : 'Space Grotesk',sans-serif;
$NormalWeight  : 300;
$BoldWeight   : 400;

// Цвета

$DarkColor   : #000000;
$BGColor : #1B191C;
$LightTitleColor : #F5F6F7;
$LightColor : #EEEEEE;
$ErrorColor : #C6A827;
$ActiveFormColor : #F8D231;
$GrayColor : #CFD3D6;
$InputColor : #A4A3A4;
$DashedColor : #919E9F;
$HoverItemColor : #CBCBCB;
$RangeColor   : #ADACAD;
